@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="../../content/css/style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Информация</title>
</head>
<body>
    <div class="intrigue">
        <form action="/Home/Info" method="get">
            <h3>Укажите steamID</h3>
            <input placeholder='Введите steamID' id="steamIDS" name="steamIDS" type="text" value="">
            <input placeholder='Отправить' type='submit'>
        </form>
    </div>
</body>
</html>