body {
    font: 14px/18px Arial, sans-serif;
    background: #2B2B2B;
}

h3 {
    color: #f7f7f7;
}

.content {
    width: 100%;
    height: auto;
}

.games {
    width: 382px;
    float: right;
}

.intrigue {
    width: 535px;
    height: 76px;
}

.info-profile {
    width: 390px;
    height: auto;
    float: left;
}

.info-avatar {
    width: 330px;
    height: auto;
    margin-left: 8.5%;
    margin-right: 8.5%;
    float: left;
}

.statys {
    width: 330px;
    height: auto;
    float: right
}

.avatar {
    width: 230px;
    height: 265px;
    padding-left: 14%;
    padding-right: 14%;
    float: right;
}

input {
    background: #f7f7f7;
    padding: 8px;
    margin-bottom: 8px;
    width: 415px;
    color: #2b2b2b;
    border: 0;
}

input[type='submit'] {
    text-transform: uppercase;
    background: #0dbfe5;
    width: 100px;
    color: #f7f7f7;
}

input[type='submit']:hover {
        background: #000000;
        color: #0dbfe5;
    }

.cell, .nyr {
    padding: 0.90em 1.5em;
    text-align: left;
}

.nyr {
    background-color: #0dbfe5;
    font-weight: bold;
    color: #f7f7f7;
    white-space: nowrap;
}
.nyr {
	background-color: #4EA4BD;
}
.row {
    background-color: #f9f9f9;
    transition: all .125s ease-in-out;
}
.row:hover {
    background-color: rgba(129,208,177,.3);
}
